<!-- <div
  class="fixed top-0 left-0 w-full h-full pointer-events-none backdrop-blur-xl z-50"
>
  <img src="/icons/close.svg" alt="A close icon" class="absolute top-8 right-8 w-8" />
  <div>
    <a href=""></a>
  </div>
</div> -->
<img src="/icons/menu.svg" alt="Menu icon" class="w-8 hidden max-lg:flex" />
