---
const { href } = Astro.props;
---

<a
  href={href}
  class="flex items-center justify-center px-5 py-2 rounded-xl bg-red hover:bg-maroon transition-colors duration-300 text-white font-semibold"
>
  <slot />
</a>
