<div class="flex gap-4">
  <a href="https://twitter.com/nouncil">
    <img src="/titter.svg" alt="Twitter logo" class="w-8" />
  </a>
  <a href="https://discord.gg/nouncil">
    <img src="/discord.svg" alt="Discord logo" class="w-8" />
  </a>
</div>
